<div class="derek">
  <p style="text-align: center; color: #222;">
    Powered by<br /><a 
      href="https://derekgarnett.com"
      style="color: #222"
    >
      derekgarnett.com
    </a>
  </p>
</div>
