<!DOCTYPE html>
<html>
  <head>
    <title>Ramblings</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
    <script src="https://use.fontawesome.com/9e8810a5ed.js"></script>
  </head>
  <body>
    <div class="ui menu">
      <div class="ui container">
        <div class="header item"><i class="fa fa-paint-brush"></i></div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/all" class="item">See All</a>
        <% if (currentUser && currentUser.isAdmin) { %>
          <a href="/blogs/new" class="item">New Post</a>
          <a href="/drafts" class="item">Drafts</a>
        <% } %>
        <div class="right menu">
          <% if (!currentUser) { %>
            <a href="/register" class="item">Sign Up</a>
            <a href="/login" class="item">Login</a>
          <% } else { %>
            <form action="/<%= currentUser._id %>?_method=PUT" method="POST">
              <% if (currentUser && currentUser.isSubscribed) { %>
                <input type="hidden" name="user[isSubscribed]" value=false>
                <button class="item noBorder">Unsubscribe</button>
              <% } else { %>
                <input type="hidden" name="user[isSubscribed]" value=true>
                <button class="item noBorder">Subscribe!</button>
              <% } %>
            </form>
            <span class="item">Signed in as <%= currentUser.username %></span>
            <a href="/logout" class="item">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
    <div class="ui container">
      <% if (error && error.length > 0) { %>
        <div class="error flash"><%= error %></div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div class="success flash"><%= success %></div>
      <% } %>
    </div>
    